*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	min-height: 100vh;
	overflow: hidden;
	background-color: #393E46;
	color: #fff;
	font-family: sans-serif;
	padding: 0 15px;
}
hr {
	margin-bottom: 10px;
	border-color: #EEEEEE;
}
#checkers {
	position: relative;
	left: 785px;
	color: #EEEEEE;
	background-color: #222831;
	padding: 15px;
	border-radius: 15px;
}
.header{
	position: sticky;
	top: 0;
	background-color: #393E46;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 15px 0;
	& #countrycity_input{
		background-color: #222831;
		border: none;
		padding: 12px;
		font-size: 16px;
		border-radius: 25px;
		color: #EEEEEE;
		&:focus{
			outline: none;
		}
	}
	& #checkweatherBtn{
		border: none;
		font-size: 16px;
		padding: 12px;
		border-radius: 25px;
		background-color: #00ADB5;
		cursor: pointer;
		color: #222831;
	}
}
.cardfiveDays{
	background-color: #222831;
	padding: 15px;
	border-radius: 15px;
	position: relative;
	left: 700px;
	margin-bottom: 15px;
	& p{
		font-size: 14px;
		color: #EEEEEE;
	}
	& h2 {
		font-size: 32px;
		font-weight: 500;
		text-align: center;
	}
}
.cardToday {
	background-color: #222831;
	padding: 15px;
	border-radius: 15px;
	position: relative;
	left: 700px;
	margin-bottom: 15px;
	& p{
		font-size: 14px;
		color: #EEEEEE;
	}
	& h2 {
		font-size: 32px;
		font-weight: 500;
	}
}
.cardtodayAt{
	background-color: #222831;
	padding: 15px;
	border-radius: 15px;
	position: relative;
	bottom: 30px;
	left: 700px;
	margin-bottom: 15px;
	& p{
		font-size: 14px;
		color: #999;
	}
	& h2 {
		font-size: 32px;
		font-weight: 500;
	}
}
.weatherData{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px;
	& .weatherLeft{
		grid-column: span 1;
		& .weatherCurrent{
			display: flex;
			justify-content: space-between;
			align-items: center;
			& h2{
				margin: 7px 0;
				color: #EEEEEE;
			}
			& p{
				color: #EEEEEE;
			}
		}
		& .todayBottom{
			font-size: 14px;
			margin-bottom: 12px;
		}
		& .forecastItems{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			place-items: center;
			margin-bottom: 15px;
			& .iconWrapper{
				display: flex;
				align-items: center;
			}
		}
	}
	& .weatherRight{
		grid-column: span 3;
		& .weatherHighlights{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			column-gap: 15px;
			& .cardHead{
				display: flex;
				justify-content: space-between;
				margin-bottom: 10px;
			}
			& .cardItem{
				display: flex;
				justify-content: space-between;
			}
			& .cardwindSpeed{
				position: relative;
				top: 100px;
				left: 343px;
				background-color: #222831;
				margin-bottom: 15px;
				padding: 15px;
				border-radius: 15px;
				& p{
					font-size: 14px;
					color: #999;
				}
				& h2 {
					font-size: 32px;
					font-weight: 500;s
				}
			}
			& .cardHumidity{
				position: relative;
				left: 700px;
				background-color: #222831;
				margin-bottom: 15px;
				padding: 15px;
				border-radius: 15px;
				& p{
					font-size: 14px;
					color: #999;
				}
				& h2 {
					font-size: 32px;
					font-weight: 500;
				}
			}
		}
		& .hourlyForecast{
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			column-gap: 10px;
			position: relative;
			right: 900px;
			margin-top: 550px;
			& .cardtodayAt{
				text-align: center;
			}
		}
		#todayAt{
			text-align: left;
			color: #fff;
			position: relative;
			top: 510px;
			right: 200px;
		}
	}
}
